* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background: radial-gradient(circle at top, #1c1f26, #111217);
    color: #fff;
    height: fit-content;
    min-height: 100vh;
}
